MQTT_BROKER_HOST=mosquitto
MQTT_BROKER_PORT=8883
MQTT_USERNAME=farm
MQTT_PASSWORD=8a64691f37634abdb084a3a6143a4b8b
MQTT_TLS=true
MQTT_TLS_CA=/mqtt-certs/ca.crt
MQTT_TLS_CERT=
MQTT_TLS_KEY=
MQTT_TLS_INSECURE=false
MQTT_SUB_TOPICS=meshtastic/+/telemetry,meshtastic/+/position
MQTT_PUB_PREFIX=hub
TAK_COT_UDP_HOST=127.0.0.1
TAK_COT_UDP_PORT=6969
HA_MQTT_PREFIX=ha/hub
LOG_LEVEL=INFO
HTTP_PORT=8080
