fts-data/
fts-certs/
AirOverlays/
QGIS-Munster/
RADIOS/
TAK_Meshtastic_Gateway/
Config.xml
~Config.xml
WinTAK_SUM.pdf
temp/
official-tak/takserver-docker-5.2-RELEASE-16/tak/takserver.war
official-tak/takserver-docker-5.2-RELEASE-16/tak/takserver-pm.jar
official-tak/takserver-docker-5.2-RELEASE-16/tak/takserver-retention.jar
