version: "3.8"

services:
  freetakserver:
    image: ghcr.io/freetakteam/freetakserver:latest
    container_name: freetakserver
    restart: unless-stopped
    ports:
      - "8087:8087"
      - "8089:8089"
      - "8080:8080"
      - "8443:8443"
      - "9000:9000"
      - "19023:19023"
    volumes:
      - ./fts-data:/data
      - ./fts-certs:/certs:ro
    environment:
      FTS_CA: /certs/ca.crt
      FTS_CERT: /certs/server.crt
      FTS_KEY: /certs/server.key
      FTS_TLS: "true"

  freetakserver-ui:
    image: ghcr.io/freetakteam/ui:latest
    container_name: freetakserver-ui
    restart: unless-stopped
    depends_on:
      - freetakserver
    environment:
      APIIP: freetakserver
      APIPORT: "19023"
      WEBMAPIP: freetakserver
      WEBMAPPORT: "8000"
      APPPORT: "5000"
    ports:
      - "5000:5000"
