[ ca ]
default_ca = CA_default

[ CA_default ]
dir = C:/Users/PaulMarzocchi/Vivarium/pTAK/fts-certs
database = C:/Users/PaulMarzocchi/Vivarium/pTAK/fts-certs/index.txt
new_certs_dir = C:/Users/PaulMarzocchi/Vivarium/pTAK/fts-certs/newcerts
serial = C:/Users/PaulMarzocchi/Vivarium/pTAK/fts-certs/serial
crlnumber = C:/Users/PaulMarzocchi/Vivarium/pTAK/fts-certs/crlnumber
private_key = C:/Users/PaulMarzocchi/Vivarium/pTAK/fts-certs/ca.key
certificate = C:/Users/PaulMarzocchi/Vivarium/pTAK/fts-certs/ca.crt
default_md = sha256
default_days = 3650
default_crl_days = 365
policy = policy_any
x509_extensions = usr_cert

[ policy_any ]
commonName = supplied

[ usr_cert ]
basicConstraints = CA:false
